<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li>
            <button>
                <img src="../../../resources/images/icono-corazon.png" alt="">
            </button>
        </li>
        <li>
            <button>
                <img src="../../../resources/images/icono-carrito.png" alt="">
            </button>
        </li>
    </ul>
</nav>

<style>
    nav {
        display: flex;
        align-items: center;
        width: 100%;
    }

    nav ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        align-items: center;
    }

    nav li {
        margin-right: 20px;
    }

    nav a {
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: black;
        transition-duration: .5s;
    }

    nav a:hover {
        color: black;
    }

    button {
        appearance: none;
        background-color: transparent;
        border: none;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
    }

    img {
        width: 2rem;
        height: 1.6rem;
        pointer-events: none;
    }
</style>